body{
    background: deepskyblue;
}

h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

p{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

li{
    color: darkblue;
    font-size: x-large;
}

img{
    size: 5cm;
}